body {
    background: plum;
}

#paragraph1 {
    font-size: 1.5rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* TODO:  At this point, you should try to make your paragraphs use the same font.  If you want to have different fonts on your page, use on on your header or your a href links.  */
#paragraph2 {
    font-size: 1.5rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
img {
    width: 75ch;
    padding: 3em;
    animation-name: animation;
    animation-duration: 2s;
}
#divide {
    float: left;
}
a:hover {
    font-size: 400%;
}
a {
    color: white;
}

@keyframes animation {
    0% {
        transform: scale(1.0);
        opacity: 0;   
   }
   50% {
    transform: scale(1.5);
}
   100% {
    transform: scale(1.0);
    opacity: 1;
   }   
}